

body {
	margin: 0;
	padding:0;
	font-family: arial, san-serif;
	font-size: 14px;
	color: #4c4c4c;
}

.palette-block {
	box-sizing: border-box;
	padding: 10px;
}

.palette {
	background-color: #EFEFEF;
	margin-bottom: 10px;
}

.canvas-holder {
	padding: 10px;
	background-color: #fcfcfc;
}

.add_table__data_botton_class {
	display: inline-block;
	*zoom: 1; *display: inline;
	padding: 8px 12px;
	background-color: #ccc;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	color: #000;
	cursor: pointer;
	margin: 10px 5px;
}

.add_table__data_botton_class:hover {
	background-color: #c0bfbf ;
}

.color_picker {
	cursor:crosshair;
}

.add_cp_botton_class {
	display: inline-block;
	*zoom: 1; *display: inline;
	position: relative;
	padding: 8px 12px;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	color: #000;
	cursor: pointer;
	margin: 10px 2px 2px 2px;
}

.add_cp_botton_class:hover {
	border: 1px solid #b3b3b3 ;
}

.del_cp_botton_class {
	display: block;
	background-color: #c0bfbf;
	border: 1px solid #fff;
	color: #000;
	cursor: pointer;
	position: absolute;
	top: -5px;
	right: -5px;
	font-weight: bold;
	font-size: 10px;
	line-height: 10px;
	padding: 2px 4px;
	border-radius: 50%;
}

.del_cp_botton_class:hover {
	background-color: #b02201;
	border: 1px solid #fff;
	color: #fff;
}

.color-slider-holder {
	width: 100px;
	padding: 8px;
	background-color: #fff;
	position: absolute;
	z-index: 101;
	left: -10px;
	top: 40px;

}

.color-slider-holder:before {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 8px solid #fff;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	position: absolute;
	z-index: 102;
	top: -7px;
	left: 20px;
	margin-left: -4px;

}

.desat_tool {
    background: #ccc;
    background: #ccc url(../images/icons/icons.png) no-repeat 0 0;
    background-position: -179px -3px;
}

.sat_tool {
    background: #ccc;
    background: #ccc url(../images/icons/icons.png) no-repeat 0 0;
    background-position: -144px -3px;
}